
<div class="clearfix m-btm-15">
    <div class="f-right">
        <!-- ADD BUTTON - START -->
        <div class="group-btn pull-right">
            <button type="button" id="button-<%- area;%>-add" data-section="<%- area;%>-add" class="nav-button btn btn-warning btn-sm">
                Add New
            </button>
        </div>
        <!-- ADD BUTTON - END -->
    </div>
</div>
<div class="table-block">
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Coin</th>
                <th class="text-center">Account</th>
                <th class="text-center">Budget</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Created (hours)</th>
                <th class="text-center">Last Action</th>
                <th class="text-center">Log</th>
                <th class="text-center">Target</th>
                <th class="text-center">Price</th>
                <th class="text-center">Status</th>
                <th class="text-center" width="12%">Action</th>
            </tr>
        </thead>

        <tbody>
        <!-- TR TABLE - START -->
        
        </tbody>
    </table>
</div>