<span>
	Current price: <span class="current-price" style="color: #2ba481">0 BTC</span>
</span>
<span class="divider m-lr-5">-</span>
<span>
	Coins: <span class="coin-qty" style="color: #2ba481">_</span>
</span>
<span class="divider m-lr-5">-</span>
<span>
	Total BTC: <span class="balance" style="color: #2ba481">_</span>
</span>

<p class="error m-btm-0 dis-block"></p>