<div class="<%- table_name%>-block">
    <table class="table table-striped table-bordered table-hover dataTables-example <%- table_name%> ">
        <thead>
            <tr>
                <th class="text-center" width="10%">Coin</th>
                <th class="text-center" width="10%">Today</th>
                <th class="text-center" width="15%">Vol 24h</th>
                <th class="text-center" width="10%">Traders</th>
                <th class="text-center" width="10%">Yesterday</th>
                <th class="text-center" width="10%">This week</th>
                <th class="text-center" width="10%">Pre week</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>